/* mixins starts here */

@mixin frame($width: 80vw, $height: 80vh) {
    display: inline-block;
    position: relative;
    width: $width;
    height: $height;
    padding: 0;
    margin: 0;   
    text-align: center;
    border: solid 5vmin #eee;
    border-bottom-color: #fff;
    border-left-color: #eee;
    border-radius: 2px;
    border-right-color: #eee;
    border-top-color: #ddd;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25) inset, 0 5px 10px 5px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    &:before {
        border-radius: 2px;
        bottom: -2vmin;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25) inset;
        content: "";
        left: -2vmin;
        position: absolute;
        right: -2vmin;
        top: -2vmin;
    }
    &:after {
        border-radius: 2px;
        bottom: -2.5vmin;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
        content: "";
        left: -2.5vmin;
        position: absolute;
        right: -2.5vmin;
        top: -2.5vmin;
    }
}

@mixin passepartout($width: 80vw, $height: 80vh, $margin: 15vmin) {
    display: inline-block;
    position: relative;
    width: $width;
    height: $height;
    border: solid $margin #ddc;
    text-align: center;
}

@mixin canvas($width: 80vw, $height: 80vh, $margin: 15vmin, $color) {
    position: relative;
    height: 100%;
    margin: $margin $margin $margin $margin;
    background: $color;
    overflow: hidden;
}

@mixin triangle($left, $right, $height, $color, $rotate: 0deg) {
    width: 0;
    height: 0;
    border-left: $left solid transparent;
    border-right: $right solid transparent;
    border-bottom: $height solid $color;
    transform: rotate($rotate);
}

@mixin parallelogram($width, $height, $color, $skew: 0deg, $rotate: 0deg) {
    width: $width;
    height: $height;
    transform: rotate($rotate) skew($skew);
    background: $color;
}

@mixin trapezoid($width, $height, $left, $right, $color, $rotate: 0deg) {
    border-bottom: $height solid $color;
    border-left: $left solid transparent;
    border-right: $right solid transparent;
    height: 0;
    width: $width;
    transform: rotate($rotate);
}

@mixin moon($width, $height, $diameter, $color, $rotate: 0deg) {
    width: $width;
    height: $height;
    border-radius: 50%;
    box-shadow: $diameter $diameter 0 0 $color;
    transform: rotate($rotate);
}

@mixin circle($diameter, $color) {
    width: $diameter;
    height: $diameter;
    border-radius: 100%;
    background: $color;
    box-shadow: 0px 0px 20px 1px $color;
}

@mixin position($top: 0, $left: 0, $z-index: 1) {
    position: absolute;
    top: $top;
    left: $left;
    z-index: $z-index;
}

/* mixins end here */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgb(205, 205, 206);
}

.picture {
    display: inline-block;
    position: relative;
    width: 80vw;
    height: 80vh;
    z-index: 0;
    overflow: hidden;
}

.frame {
    @include frame(80vw, 80vh);
    @include position(0vh, 0vw, 100);
}

.passepartout {
    @include passepartout(80vw, 80vh, 15vmin);
    @include position(0vh, 0vw, 99);
}

.canvas {
    @include canvas(80vw, 80vh, 15vmin, linear-gradient(#80a7dd, #dbd1d4));
}

.moon {
    @include moon(3rem, 3rem, 0.7rem, rgba(255, 255, 255, 0.596), 110deg);
    @include position(5vh, 20vw);
}

.star-1 {
    @include circle(0.3rem, rgba(255, 255, 255, 0.596));
    @include position(10vh, 5vw);
}

.star-2 {
    @include circle(0.3rem, rgba(255, 255, 255, 0.596));
    @include position(15vh, 35vw);
}

.star-3 {
    @include circle(0.3rem, rgba(255, 255, 255, 0.596));
    @include position(5vh, 40vw);
}

.star-4 {
    @include circle(0.3rem, rgba(255, 255, 255, 0.596));
    @include position(15vh, 10vw);
}

.star-5 {
    @include circle(0.5rem, rgba(255, 255, 255, 0.596));
    @include position(5vh, 10vw);
}

.mountain-0 {
    @include parallelogram(15vw, 15vh, rgb(116, 121, 158), 35deg, -30deg);
    @include position(20vh, 0vw);
}

.mountain-1 {
    @include parallelogram(35vw, 25vh, rgb(93, 111, 150), 35deg, -30deg);
    @include position(20vh, 10vw, 2);
}

.mountain-2 {
    @include parallelogram(45vw, 15vh, rgb(120, 172, 131), 35deg, -30deg);
    @include position(30vh, 20vw, 3);
    overflow: hidden;
}